<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="row">
        <div class="col-md-4 d-flex">
          <img src="/../../assets/images/logo-with text.PNG" class="logo-box" alt="sun software & Data Solutions">
        </div>
        <div class="col-md-5">
          <ul class="nav justify-content-between list-unstyled d-flex" style="padding-top: 8px;">
            <li>
              © 2023 Sun software & Data Solutions
            </li>
            <li>
              Contact us
            </li>
            <li>
              About
            </li>
          </ul>
        </div>
        <div class="col-md-3" style="padding-top: 8px;">
          <ul class="nav justify-content-end list-unstyled">
            <li>connect us on</li>
            <li class="ms-3"><a class="" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="ms-3"><a class="" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="ms-3"><a class="" href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      
    </footer>
  </div>
