<div class="container pt-20">
    <div class="row">
          <div class="col-md-6 blog-content-text">
                 <h4 class='intro-header--h4'>Customer and Digital</h4>
                 <p> </p>
                 <p>We design and create solutions that work for customers and businesses, and help our clients set themselves apart from the competition – whether they’re a global market leader, a national treasure or a challenger start-up. </p>
                    <br/>
                    <p>We’re successful because we care about outcomes, helping our clients do things right, while doing the right things for their customers.</p>
                    <br/>
                    <p>We are a passionate mix of digital strategy professionals, experience designers, operations experts, product owners and specialists from marketing, sales and service. Diverse in our perspectives and backgrounds but unified by a deep customer obsession, and a pragmatic and commercial approach to delivery.</p>
                    <p></p>
          </div>
          <div class="col-md-6">
              <img class="image-fluid" src="assets/images/6.jpeg"/>
          </div>
    </div>
 </div>