<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-color fixed-top">
    <div class="nav-logo-wrapper me-auto">
         <div class="logo-container">
            <img src="assets/images/sunsoftware.jpeg" class="logo-box" alt="sun software & Data Solutions">
            <h2 class="header-container"> Sun Software & Data Solutions</h2>
         </div>
    </div>
   <div class="header-right-wrapper"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="false">
              <span class="right-header-cust">About us</span></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/about-us/who-we-are">Who we are</a></li>
                <li><a class="dropdown-item" href="#">Divirsity and Inclusion</a></li>
                <li><a class="dropdown-item" href="#">Locations</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false"><span class="right-header-cust">Industries</span></a>
            <ul class="dropdown-menu menu-align">
                <li><a class="dropdown-item" routerLink="/industries/energy">Energy, utilities and resources </a></li>
                <li><a class="dropdown-item" routerLink="/industries/finance">Financial services </a></li>
                <li><a class="dropdown-item" routerLink="/industries/product">Products and services </a></li>
                <li><a class="dropdown-item" routerLink="/industries/government">Government and public sector </a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false"><span class="right-header-cust">Capabilities</span></a>
               <ul class="dropdown-menu menu-align">
                <li><a class="dropdown-item" routerLink="/capabilities/customer-digital">Customer and digital</a></li>
                <li><a class="dropdown-item" routerLink="/capabilities/data-analytics">Data, analytics and AI</a></li>
                <li><a class="dropdown-item" routerLink="/capabilities/technology-transformation">Technology transformation</a></li>
                <li><a class="dropdown-item" routerLink="/capabilities/operational-excellance">Operational excellence and intelligent automation</a></li>
                <li><a class="dropdown-item" routerLink="/capabilities/project-management">Project and programme management</a></li>
               </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/get-in-touch"><span class="right-header-cust">Get in touch</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

