<div class="container pt-20">
    <div class="row">
          <div class="col-md-6 blog-content-text">
                 <h4 class='intro-header--h4'>Data, Analytics and AI</h4>
                 <p>Within Baringa’s Data, Analytics &amp; AI practice we deliver three outcomes for our clients: We help our clients organise and control data. We turn data into insight. We help embed AI into our clients’ businesses.&nbsp;<br>
                    <br>
                    In doing this we provide advice, help our clients establish new capability, build and deliver AI-powered solutions into production.<br>
                    <br>
                    Enabling these outcomes is an experienced team with skills in Data Strategy development, Data Science &amp; Engineering, Visualisation and User Interface design, Data Management and Data Architecture and software development.</p>
          </div>
          <div class="col-md-6">
              <img class="image-fluid" src="/../../../assets/images/datat-analytics-sub-image.jpg"/>
          </div>
    </div>
 </div>