<div class="container pt-20">
    <div class="row">
          <div class="col-md-6 blog-content-text">
                 <h4 class='intro-header--h4'>Products and services </h4>
                 <p> </p><p>The products and service sector, in which we include telco and media, technology, consumer products, retail, and life sciences, faces a fast-changing disruptive world.<br>
                    <br>
                    We team with our clients to deliver improvement across the value chain, using our specific knowledge of each sector plus the insight into the customer and technology trends across them.</p>
                     <p></p>
          </div>
          <div class="col-md-6">
              <img class="image-fluid" src="/../../../assets/images/Product-services-sub-Image.jpg"/>
          </div>
    </div>
 </div>