<div class="container pt-20">
    <div class="row">
          <div class="col-md-6 blog-content-text">
                 <h4 class='intro-header--h4'> Government and public sector  </h4>
                 <p> </p>
                 <p>The UK Government now faces some of its greatest challenges to date, including coronavirus, the end of the EU Exit Transition period, and delivering Net Zero. Government will need to balance its response to each of these, in an environment of increasing pressure to deliver improved services at a lower cost, address the backlog of projects on hold due to these major disruptors, and successfully predict and manage the political and societal changes aspects such as leaving the EU will bring.</p>

                  <p>Baringa supports government departments, agencies, and other public bodies to take advantage of new technologies, innovative commercial structures, and more efficient organisation models to drive change when spending remains tightly controlled. We implement process automation, pilot Artificial Intelligence solutions, support suppliers to deliver services, and untangle complex legacy IT systems to become even more citizen-centric."</p>
                  <p></p>
          </div>
          <div class="col-md-6">
              <img class="image-fluid" src="assets/images/government images-1.jpg"/>
          </div>
    </div>
 </div>