<div class="container pt-20">
    <div class="row">
          <div class="col-md-6 blog-content-text">
                 <h4 class='intro-header--h4'>Project and programme management</h4>
                 <p></p><p>Our programme delivery model is built on our TRAC principles:</p>

                 <ul>
                     <li><strong>T</strong>ailored for the specific clients we work with</li>
                     <li><strong>R</strong>ight Sized, creating a fit for purpose and value-adding management function</li>
                     <li><strong>A</strong>ccelerated Responses&nbsp;to new or ailing programme needs</li>
                     <li><strong>C</strong>apability Building, leaving a legacy from each engagement</li>
                 </ul>
                 <p></p>
          </div>
          <div class="col-md-6">
              <img class="image-fluid" src="../../../assets/images/16.jpg"/>
          </div>
    </div>
 </div>