<div class="container pt-20">
  <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8 blog-content-text">
        <h4 class="intro-header--h4">About Sun Software & Data Solutions</h4>
        <p></p><p>We set out to build the world’s most trusted consulting firm – creating lasting impact for clients and pioneering a positive, people-first way of working. We work with everyone from FTSE 100 names to bright new start-ups, in every sector.</p>

<p>You’ll find us collaborating shoulder-to-shoulder with our clients, from the big picture right down to the detail: helping them define their strategy, deliver complex change, spot the right commercial opportunities, manage risk or bring their purpose and sustainability goals to life. Our clients love how we get to know what makes their businesses tick –&nbsp;slotting seamlessly into their teams and being proudly geeky about solving their challenges.</p>

<p>We have hubs in Europe, the US, Asia and Australia, and we work all around the world – from a wind farm in Wyoming to a boardroom in Berlin. Find us wherever there’s a challenge to be tackled and an impact to be made.</p>

<p><strong>Our culture</strong></p>

<p>Our entire business is built around putting people and culture first</p>

<ul>
<li>There’s no ‘us’ and no ‘them’. We slot seamlessly into our clients’ teams and work shoulder-to-shoulder with them.</li>
<li>We’re prepared to challenge – delivering the tough truths when we need to.</li>
<li>We each take personal ownership of our work and the ways we go about delivering it.</li>
<li>We work to build long-term relationships with our clients and their people.</li>
<li>Our leaders put in the work, leading from the front at every stage of the project.</li>
<li>We build an inclusive culture where every voice counts – no matter who they are or where they sit in the corporate hierarchy.</li>
<li>We know that different is good – we actively look to create a more diverse team, and make people from all backgrounds feel at home. We know we can come up with clever, more creative ideas when our team doesn’t all look and sound the same.</li>
<li>We build capability into our clients’ teams as we go. So our work can stand on its own feet after we leave.</li>
<li>We take an interest in our clients’ careers. And we look for any opportunity to help them progress.</li>
<li>We’re unbiased to the bone. We answer only to our clients’ needs and our own vision.</li>
<li>
<p>When we follow our values in everything we do, we’ll always be kind, curious and great at work.</p>
</li>
</ul>
<p></p> 
     </div>
     <div class="col-md-2"></div>
  </div>
</div>

