<div class="container pt-20">
   <div class="row">
         <div class="col-md-6 blog-content-text">
                <h4 class='intro-header--h4'> Energy, utilities and resources </h4><p> </p>
                <p>The Energy, Utility and Resources markets are experiencing unprecedented change. Our global team of market experts spend their time helping companies, investors, technology providers and policy makers/regulators navigate these market changes by helping them:</p>

                <ul>
                    <li>Determine their correct strategy or investment decision</li>
                    <li>Identify new commercial opportunities and help make the necessary changes to capture them</li>
                    <li>Structure and run more effective businesses to deliver better customer outcomes for lower cost</li>
                </ul>
                
                <p>Our teams combine global market insight, deep industry knowledge and capabilities in strategy, data analytics, process and technology to deliver material results.</p>
                 <p></p></div>
         <div class="col-md-6">
             <img class="image-fluid" src="../../../assets/images/energy-sub-images.jpg"/>
         </div>
   </div>
</div>
