@import "~bootstrap/dist/css/bootstrap.css";

html body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: FSMeWeb-Regular, Helvetica, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.4;
  transition: all .1s ease-in-out;
}

.blog-content-text {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  text-align: left;
}

.intro-header--h4 {
  font-family: "FSMeWeb-Regular",Helvetica,sans-serif !important;
  color: #08338a;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.pt-20{
  padding-top: 90px;
  min-height: 550px;
}

.image-fluid{
  max-width: 100%;
}