<section class="container-static-home">
    <div class="container home-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5 home-text-content align-self-center">
                <h1 class="home-heading" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                  Climate Change &amp; Sustainability
                </h1>
                <p class="home-description" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">Enabling financial services to create a pathway of sustainable growth and facilitate a just transition</p>
                
                <a href="/en/insights-news/trending/climate-change-sustainability/" class="home-cta wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">Read more</a>
                <div class="temp-button"></div>
             </div>
             <div class="col-12 col-md-6 col-lg-7 home-image-content" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeIn;">
                <picture>
                    <source media="(min-width:768px)" srcset="../../assets/images/ClimateChange-Sustainability.jpg">
                    <img src="../../assets/images/ClimateChange-Sustainability.jpg" alt="">              
                </picture>
            </div>
        </div>
    </div>
</section>
<section class="container-static-home">
    <app-home-feature></app-home-feature>
</section>