.container-static-home{
    padding-top: 140px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.home-container{
    height: 100%;
}
.home-text-content{
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 7
}

.align-self-center{
    align-self: center!important
}

.home-heading {
    font-size: 2.625rem;
    font-family: FSMeWeb-Regular,Helvetica,sans-serif;
    font-weight: 700;
    color: #00358e;
    margin-bottom: 30px;
}
.home-description {
    font-family: FSMeWeb-Regular,Helvetica,sans-serif;
    font-size: 1.125rem;
    margin-bottom: 30px;
}    

.home-cta {
    font-size: 14px;
    font-size: .875rem;
    letter-spacing: 1.71px;
    margin-bottom: 0;
    display: inline-block;
    background-color: #cf1277;
    color: #fff;
    text-decoration: none;
    padding: 12px 78px 9px 18px;
    position: relative;
    overflow: hidden;
}

.home-image-content {
    position: static !important;
}
.home-image-content  img {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 46%;
    width: 75%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
     transform: translate(0,-50%); 
}
