<div class="container pt-20">
    <div class="row">
          <div class="col-md-6 blog-content-text">
                 <h4 class='intro-header--h4'>Technology transformation</h4>
                 <p>Our accomplished team helps organisations to implement technology change and run more effective technology enabled businesses.<br>
                    <br>
                    We help harness data, systems and infrastructure to improve time to market, increase agility, reduce costs, meet regulatory demands and improve customer experience.</p>
          </div>
          <div class="col-md-6">
              <img class="image-fluid" src="../../../assets/images/tech-transformation-sub-images.jpg"/>
          </div>
    </div>
 </div>